<div class="col s4 hoverable">
    <div class="card z-depth-5">
        <div class="card-image ">
            <img class="responsive materialboxed" src="teslamodel3.png">

            <a onclick="M.toast({html: 'I am a toast!', classes: 'rounded'});"
                class="btn-floating halfway-fab waves-effect waves-light red btn-floating pulse tooltipped"
                data-tooltip="Add to cart" data-position="top"><i class="material-icons">add</i></a>
        </div>
        <span class="card-title"><%= product.name %></span>
        <div class="right">
            <h5 class="price-tag"><%= product.price %>$</h5>
        </div>
        <div class="card-content">
            <p><%= product.details %>
            </p>
        </div>
    </div>
</div>

<!-- <li><%= drink.name %> - <%= drink.drunkness %></li> -->